
header{ 
    vertical-align: middle;
    margin: 20px;
    font-weight: 10px;
    font-size: 18px;
    color: #577D86;
    text-align: center;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    background-color: #87cbb9;
    padding: 2px;
}

body {
    font-family: sans-serif;
    text-align: center;
    color: #577D86;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #e7f1f1;
}

main {
    
    margin-top: 10px;
}

textarea[name="user-input"] {
    width: 80%;
    height: 30vh;
    border: 2.6px solid #577D86;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
}
  
.contadores { 
    background-color: #d8d8d8;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    margin: 2%;
    padding: 10px;
}


#resetButton {
    margin-top: 20px;
    font-size: 18px;
    color: #577D86;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
    
}


footer { 
    vertical-align: middle;
    font-size: 16px;
    text-align: right;
    color: #577D86;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

